<launch>

    <include file="$(find MobileRobot_Sandbox)/launch/rsp.launch" />
    
    <node pkg="map_server" type="map_server" name="map_server" args="$(find MobileRobot_Sandbox)/config/playground_save.yaml" />

    <node pkg="amcl" type="amcl" name="amcl" output="screen" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find MobileRobot_Sandbox)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find MobileRobot_Sandbox)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find MobileRobot_Sandbox)/config/local_costmap_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find MobileRobot_Sandbox)/config/global_costmap_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find MobileRobot_Sandbox)/config/base_local_planner_params.yaml" command="load" />
    </node>

</launch>