<launch>
  <!-- Load the static map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find MobileRobot_Sandbox)/config/playground_save.yaml"/>

  <!-- Launch move_base with global planner -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find mobile_manipulator)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mobile_manipulator)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mobile_manipulator)/param/local_costmap_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mobile_manipulator)/param/global_costmap_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mobile_manipulator)/param/base_local_planner_params.yaml" command="load" />
  </node>
  
</launch>
